<body>
	<div class="container">
		<section class="section__filter">
			<ul class="filter__list">
				<li class="filter__list-item" data-f="all">ALL</li>
				<li class="filter__list-item" data-f="alizarin" class="text-alizarin">ALIZARIN</li>
				<li class="filter__list-item" data-f="wisteria" class="text-wisteria">WISTERIA</li>
				<li class="filter__list-item" data-f="emerland" class="text-emerland">EMERLAND</li>
				<li class="filter__list-item" data-f="sunflower" class="text-sunflower">SUNFLOWER</li>
			</ul>
			<div class="block-cover">
				<div class="col-auto box alizarin"></div>
				<div class="col-auto box wisteria"></div>
				<div class="col-auto box emerland"></div>
				<div class="col-auto box belizehole"></div>
				<div class="col-auto box sunflower"></div>
				<div class="col-auto box alizarin"></div>
				<div class="col-auto box wisteria"></div>
				<div class="col-auto box emerland"></div>
				<div class="col-auto box belizehole"></div>
				<div class="col-auto box sunflower"></div>
				<div class="col-auto box alizarin"></div>
				<div class="col-auto box wisteria"></div>
				<div class="col-auto box emerland"></div>
				<div class="col-auto box belizehole"></div>
				<div class="col-auto box sunflower"></div>
				<div class="col-auto box alizarin"></div>
				<div class="col-auto box wisteria"></div>
				<div class="col-auto box emerland"></div>
				<div class="col-auto box belizehole"></div>
				<div class="col-auto box sunflower"></div>
			</div>
		</section>
	</div>